#drop_zone {
  padding: 20px;
  border-style: dotted;
  border-width: 4px;
  width: 200px;
  text-align: center;
}

/* For regex tutorial*/
.a2zregex {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,monospace;
  background: #BBBBBB;
  font-weight: bold;
  color:#000000;
  padding: 4px;
}

/*.token.regex {
  background-color: none;
  color: #000;
}*/

/* For closure tutorial */

.box {
  margin-top: 20px;
  background-color: #CCC;
  padding: 16px;
  display:inline;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
}

blockquote {
  margin-left: 20px;
  font-size: 90%;
  font-style:italic;
}

.bookmarklet {
  background-color: #C036F3;
  padding: 4px;
  color: #FFF;
}
