---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$black: 			#212121;
$white: 			#ffffff;
$light-grey: 		#E9E9E9;
$grey: 				#7D7D7D;

$red: 				#960332;
$yellow:			#6b6001;
$blue:				#035c82;
$orange:			#ED462F;
$purple:			#531e5e;

$breakpoint-small: 	700px;
$breakpoint-medium: 1170px;
$breakpoint-large: 	1440px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "layout"
;
