* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background-color: #f9f9f9;
  font-size: 100%;
  /* 16px */
  line-height: 1.618em;
  /* */
  margin: 0;
  padding: 0; }

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, Verdana, Arial, sans-serif; }

.page-content,
.post-content {
  font-family: 'georgia'; }


/* For regex tutorial*/
.regex {
  font-family: "source code pro", monospace;
  background: #BBBBBB;
  font-weight: bold;  
  color:#000000;
  padding: 2px;
}

a {
  color: #ff177a;
  text-decoration: none; }

a:hover, a:focus, a:active,
nav a:hover, nav a:focus, nav a:active {
  color: #0798f2; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600; }

h2 {
  font-size: 2em; }

img {
  max-width: 100%; }

p {
  margin: 0 0 1em 0; }

ul {
  margin-left: 0.5em;
  padding-left: 1em; }

header h1 {
  font-size: 3.5em;
  font-weight: 300;
  letter-spacing: 0.06em;
  line-height: 1em;
  margin: 0.45em 0 0; }

header h1 a {
  color: inherit;
  text-decoration: none; }

header h1 a:hover {
  color: #008ae0; }

#wrapper {
  clear: both;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 43.75em; }

/*
 * Navigation
 *
 * Site navigation.
 */
nav {
  font-size: 0.9em;
  border-top: 1px solid #0798f2;
  padding: 0.75em 0;
  margin: 0.5em 0 1.5em; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav ul li {
  display: inline-block;
  margin: 0 1em 0 0; }

nav a {
  color: #fc006c;
  text-decoration: none; }

/*
 * Pagination
 *
 * Blog pagination links
 */
.pagination {
  border-top: 1px solid #0798f2;
  border-bottom: 1px solid #0798f2;
  text-align: center;
  margin: 0 0 2em;
  padding: 0.75em 0; }

.pagination .previous {
  text-align: left; }

.pagination .next {
  text-align: right; }

/*
 * Simple Grid
 *
 *
 */
.left-half, .right-half {
  /*float: left;*/
  /*width: 48%;*/ }

.left-half {
  /*padding-right: 1%;*/ }

.right-half {
  /*padding-left: 1%;*/ }

/*
 * Blurbs
 *
 * A section for the main page that works best in pairs. Big flat boxes with a
 * title and description that are big links. Designed for links to Nature of
 * Code and Learning Processing.
 */
.blurb-pair {
  margin-bottom: 2em;
  position: relative;
  height: 160px; }

.blurb {
  background-color: #efefef;
  padding: 0;
  height: 100%;
  position: relative; }

.blurb.white {
  color: white; }

.blurb-text {
  padding: 0 1em 1em 1em;
  position: absolute;
  bottom: 0em;
  left: 0em;
  right: 0em; }

.blurb h1 {
  font-weight: normal;
  font-size: 1.618em;
  margin: 0 0 0.5em; }

.blurb a {
  color: inherit;
  display: block;
  height: 100%;
  text-decoration: none; }

.blurb a:hover *,
.blurb a:focus {
  text-decoration: underline; }

.blurb .content {
  font-size: 0.9em;
  line-height: 1.2em; }

.blurb.white .content {
  font-weight: 300; }

/*
 * Columns
 *
 * Currently just 2 columns
 */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }
.row:after {
  clear: both; }
.row [class*="col"] {
  display: block;
  float: left;
  min-height: 30px;
  margin-left: 2.4%; }
.row .col6 {
  width: 48.8%; }
.row .col4 {
  width: 31.733333333%; }
.row [class*="col"]:first-child {
  margin-left: 0; }

/*
 * Footer
 *
 * Page footer, with links to Twitter, Github and maybe email. For all pages
 * below the main page.
 */
footer {
  line-height: 1.2em;
  margin: 2em 0;
  text-align: center; }

footer, footer a {
  color: #777777; }

/*
 *
 * Pages
 *
 */
.page-content {
  min-height: 300px;
  margin: 1em 0 3em; }

.page-content h1,
.post > h1 {
  line-height: 1.1em;
  font-size: 1.6em;
  margin: 1.25em 0 0.25em;
  padding: 0; }

.page-content h2,
.post h2 {
  font-size: 1.4em; }

/*
 *
 * Front Page
 *
 */
#wrapper.front-page {
  margin-bottom: 4em; }

#front-content h2 {
  margin: 0 0 0.25em; }

#front-content ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0; }

/*
 *
 * Bio Page
 *
 */
#bio .bio-image {
  float: right;
  width: 48%; }

#bio p {
  width: 48%; }

/*
 *
 * Books Page
 *
 */
#books {
  clear: both;
  overflow: auto; }

#books h1 {
  clear: both; }

#books img {
  clear: left;
  float: left;
  margin: 0.75em 2.5em 2em 0; }

/*
 * Post
 *
 * A blog post consisting of a Wrapper, Title, Date, Body, Comments
 */
.post {
  margin: 2em 0 4em;
  padding-bottom: 1em; }

.post:last-child {
  margin-bottom: 2em; }

.post > h1 a {
  color: inherit; }

.post > h1 a:hover,
.post > h1 a:focus,
.post > h1 a:active {
  color: #ca0056; }

.post > h6 {
  color: #777777;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0; }

.post .post-content {
  margin: 1.75em 0 0; }

.post .footer {
  font-size: 0.9em;
  padding: 0 0 1em; }

.post .footer a {
  color: #9C9B9B; }

.post .footer a:hover {
  text-decoration: underline; }

/*
 * Code and Pre
 *
 * Formatting for <code> and <pre tags.
 */
pre, code {
  font-family: "source code pro", monospace;
  font-size: 0.95em;
  line-height: 1.2em; 
}

pre {
  background-color: #fff;
  padding: 1em; }

/*
 * Pygments
 * Modified from https://github.com/richleland/pygments-css
 */
.highlight .hll {
  background-color: #333333; }

.highlight .c {
  color: #888888;
  background-color: #f3f3f3; }

/* Comment */
.highlight .err {
  color: #111111; }

/* Error */
.highlight .g {
  color: #111111; }

/* Generic */
.highlight .k {
  color: #fb661a;
  font-weight: bold; }

/* Keyword */
.highlight .l {
  color: #111111; }

/* Literal */
.highlight .n {
  color: #111111; }

/* Name */
.highlight .o {
  color: #111111; }

/* Operator */
.highlight .x {
  color: #111111; }

/* Other */
.highlight .p {
  color: #111111; }

/* Punctuation */
.highlight .cm {
  color: #888888;
  background-color: #f3f3f3; }

/* Comment.Multiline */
.highlight .cp {
  color: #ff0007;
  font-weight: bold;
  background-color: #f3f3f3; }

/* Comment.Preproc */
.highlight .c1 {
  color: #888888;
  background-color: #f3f3f3; }

/* Comment.Single */
.highlight .cs {
  color: #888888;
  background-color: #f3f3f3; }

/* Comment.Special */
.highlight .gd {
  color: #111111; }

/* Generic.Deleted */
.highlight .ge {
  color: #111111; }

/* Generic.Emph */
.highlight .gr {
  color: #111111; }

/* Generic.Error */
.highlight .gh {
  color: #111111;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #111111; }

/* Generic.Inserted */
.highlight .go {
  color: #444444;
  background-color: #222222; }

/* Generic.Output */
.highlight .gp {
  color: #111111; }

/* Generic.Prompt */
.highlight .gs {
  color: #111111; }

/* Generic.Strong */
.highlight .gu {
  color: #111111;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #111111; }

/* Generic.Traceback */
.highlight .kc {
  color: #fb661a;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #fb661a;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #fb661a;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #fb661a; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #fb661a;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #cdcaa9;
  font-weight: bold; }

/* Keyword.Type */
.highlight .ld {
  color: #111111; }

/* Literal.Date */
.highlight .m {
  color: #0086f7;
  font-weight: bold; }

/* Literal.Number */
.highlight .s {
  color: #0086d2; }

/* Literal.String */
.highlight .na {
  color: #ff0086;
  font-weight: bold; }

/* Name.Attribute */
.highlight .nb {
  color: #111111; }

/* Name.Builtin */
.highlight .nc {
  color: #111111; }

/* Name.Class */
.highlight .no {
  color: #0086d2; }

/* Name.Constant */
.highlight .nd {
  color: #111111; }

/* Name.Decorator */
.highlight .ni {
  color: #111111; }

/* Name.Entity */
.highlight .ne {
  color: #111111; }

/* Name.Exception */
.highlight .nf {
  color: #ff0086;
  font-weight: bold; }

/* Name.Function */
.highlight .nl {
  color: #111111; }

/* Name.Label */
.highlight .nn {
  color: #111111; }

/* Name.Namespace */
.highlight .nx {
  color: #111111; }

/* Name.Other */
.highlight .py {
  color: #111111; }

/* Name.Property */
.highlight .nt {
  color: #fb661a;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #fb661a; }

/* Name.Variable */
.highlight .ow {
  color: #111111; }

/* Operator.Word */
.highlight .w {
  color: #888888; }

/* Text.Whitespace */
.highlight .mf {
  color: #0086f7;
  font-weight: bold; }

/* Literal.Number.Float */
.highlight .mh {
  color: #0086f7;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #0086f7;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #0086f7;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #0086d2; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #0086d2; }

/* Literal.String.Char */
.highlight .sd {
  color: #0086d2; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #0086d2; }

/* Literal.String.Double */
.highlight .se {
  color: #0086d2; }

/* Literal.String.Escape */
.highlight .sh {
  color: #0086d2; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #0086d2; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #0086d2; }

/* Literal.String.Other */
.highlight .sr {
  color: #0086d2; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #0086d2; }

/* Literal.String.Single */
.highlight .ss {
  color: #0086d2; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #111111; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #fb661a; }

/* Name.Variable.Class */
.highlight .vg {
  color: #fb661a; }

/* Name.Variable.Global */
.highlight .vi {
  color: #fb661a; }

/* Name.Variable.Instance */
.highlight .il {
  color: #0086f7;
  font-weight: bold; }

/* Literal.Number.Integer.Long */
@media screen and (max-width: 480px) {
  html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none; }

  #wrapper {
    width: 100%;
    padding: 0 1em; }

  .page-content {
    min-height: 0;
    margin: 1em 0 1.5em; }

  .blurb-pair {
    height: auto;
    clear: both;
    overflow-y: auto; }

  .blurb-text {
    position: relative;
    padding: 1em;
    margin: 0; }

  #bio .bio-image {
    float: right;
    width: 40%; }

  #bio p {
    width: 58%; }

  .blurb {
    margin-bottom: 0.5em; }

  .row [class*="col"] {
    float: none;
    width: 100%;
    margin-left: 0; } }
@media screen and (max-width: 320px) {
  #wrapper {
    width: 100%;
    padding: 0 1em; }

  #bio .bio-image {
    float: none;
    width: 98%; }

  #bio p {
    width: 100%; }

  header h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 0; }

  nav ul {
    font-size: 120%;
    text-align: center; }

  nav ul li {
    margin: 0 0.25em 0 0.25em; }

  .row [class*="col"] {
    float: none;
    width: 100%;
    margin-left: 0; } }
@media screen and (max-width: 768px) {
  #wrapper {
    width: 100%;
    padding: 0 1em; } }
