/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "variables.scss";
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);


$lato: 'Lato', sans-serif;
$noto: 'Noto Serif', serif;
// MAIN WINDOW STRUCTURE



* {

	box-sizing: border-box;

}

body, html {

	min-height: 100%;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	line-height: 1.45em;
	color: $black;

}

.left-container {

	position: relative;
	width: 60%;
	padding: 130px 140px;

	@media only screen and (max-width: $breakpoint-medium) {

		padding: 130px 80px;

	}

	@media only screen and (max-width: $breakpoint-small) {

		padding: 100px 30px;
		width: 100%;

	}
}

.right-container {

	position: fixed;
	width: 40%;
	right: 0;
	top: 0;
	min-height: 600px;
	height: 100%;

	@media only screen and (max-width: $breakpoint-small) {

		width: 300px;
		right: -300px;

	}

}

// NAV

nav {

	position: fixed;
	top: 0;
	left: -230px;
	width: 300px;
	min-height: 100%;
	z-index: 1;
	padding: 25px;
	transition: left 0.4s;
	// Needs latest Compass, add '@import "compass"' to your scss
	// Permalink - use to edit and share this gradient:
	// http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+68,0+100
	@include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%));


	.nav-logo {

		display: inline-block;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 20px;
		text-decoration: none;
		font-weight: 700;
		color: $black;

	}

	.nav-links {

		li a {

			font-family: $lato;
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 0.8px;
			text-decoration: none;
			color: $black;
			transition: color 0.15s;

			&:hover {

				color: $red;

			}

			&:hover {

				color: $red;

			}

		}

	}

	&:hover {

		left: 0px;

	}

}

.logo {

	position: absolute;
	left: 45px;
	top: 30px;

	.logo-set {
		display: inline-block;
		vertical-align: top;
		margin-left: 7px;
	}

	h2 {
		font-family: 'Noto Serif', serif;
		font-size: 26px;
		letter-spacing: 1.72px;
		margin-bottom: 0;
		margin-top: 2px;
		font-weight: 700;
		display: inline-block;
	}

	span.nav-btn {
		display: inline-block;
		vertical-align: top;
		margin-top: 11px;
		cursor: pointer;
	}

	span.intro {

		display: block;
		font-size: 14px;

	}

}

.line-charm {

	display: block;
	height: 5px;
	width: 48px;
	background: $light-grey;
	margin: 60px 0 16px 0;

}

// TYPOGRAPHY

h1, h2, h3, h4, h5 {

	font-family: 'Lato', sans-serif;
	line-height: 1.45em;

}

h1 {

	font-family: $noto;
	font-weight: 700;
	font-size: 28px;

}

h2 {

	font-size: 22px;
	font-weight: 700;
	margin-bottom: 0.5em;
	margin-top: 2em;

}

h3 {

	font-size: 14px;
	font-weight: 700;
	margin-bottom: 35px;

}

h5 {

	font-size: 12px;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1em;

}

.body-link {

	font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 3px 10px;
    margin: 2px 10px 2px 0px;
    border-left: 3px solid #E9E9E9;
    text-decoration: none;

    &.primary {

    	color: $red;
    	border-left: 3px solid $red;

    }

    &.secondary {

    	color: $grey;
    	border-left: 3px solid $grey;

    }

}

//SHIFFMAN.NET SPECIFICS

.section-link {

	font-family: $lato;
	font-size: 12px;
	font-weight: 700;
	color: $red;
	text-decoration: none;
	margin: 10px 0;
	display: inline-block;

}


.latest-videos {

	.video-entry {

		overflow: auto;
		margin-bottom: 35px;

	}

	.thumbnail {

		border-radius: 3px;

		img {
			width: 100%;
		}

	}

	.col-left {

		width: 30%;
		float: left;
		padding: 0 7px;

	}

	.col-right {

		width: 70%;
		float: left;
		padding: 0 7px;

	}

	p {

		font-size: 14px;
		margin-bottom: 25px;
	
	}

}

.resources {


	.link {

		p {
			display: none;
		}

	}

}

//FEATURED SECTIONS

.right-container {

	background: $light-grey;
	overflow: scroll;

	.feature {

		padding: 0 110px 0px 40px;
		min-height: 250px;
		height: 250px;
		position: relative;

		@media only screen and (max-width: $breakpoint-medium) {

			padding: 0 30px 0px 30px;

		}

		.content, .book {

			position: relative;
  			top: 50%;
  			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);

		}

		.book {
			position: absolute;
			right: 0;
		}

	}

}

.feature {

	p, a {
		font-family: $lato;
	}

	h1 {
		font-family: $lato;
		letter-spacing: 1.87px;
		font-weight: 900;
		color: $white;
	}

	a.primary {
		display: inline-block;
		padding: 7px 30px;
		border-radius: 45px;
		background: $white;
		font-size: 12px;
		font-weight: 900;
		letter-spacing: 0.87px;
		color: $black;
		text-decoration: none;
		margin-top: 25px;
	}

	a.secondary {

		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.87px;
		text-decoration: none;
		display: block;
		color: $white;

	}

	&.lp {

		background: $yellow;
		color: $black;

		a, p {
			color: $orange;
		}

	}

	&.noc {

		background: $red;
		color: $white;

		a.primary {
			color: $red;
		}

	}

	&.youtube {

		background: $blue;
		color: $white;

		a {
			color: $blue;
		}

	}

	&.livestream {

		background: $purple;
		color: $white;

		a {
			color: $purple;
		}

	}

}

// BOOKS PAGE
	
	.right-container.books {

		.feature {

			height: 50%;
			min-height: auto;

		}

	}

// ARTICLE PAGES

.article {

	h1 {
		margin-bottom: 1em;
	}

	.line-charm.first {
		margin-top: 0px;
	}

}

p {

	margin-bottom: 1.2em;

}


.right-container.quick-links {

	padding: 40px;
	background: $red;
	width: 30%;

	&.video {
		background: $blue;
	}

	.quick-link {

		margin-bottom: 15px;

		a {

			font-family: $lato;
			display: block;
			padding: 10px 15px;
			border-radius: 45px;
			background: $white;
			font-size: 12px;
			font-weight: 600;
			color: $black;
			text-decoration: none;

		}

	}

}

//VIDEOS

.video-playlist {

	p {
		font-size: 14px;
	}

}

// HELPERS

@media only screen and (max-width: $breakpoint-medium) {

	.medium-hide {

		display: none;

	}

}

@media only screen and (max-width: $breakpoint-small) {

	.small-hide {

		display: none;

	}

}



























