<div class="blurb-pair row">
  <div class="blurb white col6" style="background-color: #eb005a;">
    <a href="http://natureofcode.com">
      <div class="blurb-text">
        <h1>Nature of Code</h1>
        <div class="content">
          Simulating Natural Systems with Processing.
        </div>
      </div>
    </a>
  </div>

  <div class="blurb col6" style="background-color:#ef7523;">
    <a href="http://learningprocessing.com">
      <div class="blurb-text">
        <h1>Learning Processing</h1>
        <div class="content">
          A beginner's guide to programming images, animation and interaction.
        </div>
      </div>
    </a>
  </div>
</div>