<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav>
  <a href="/" class="nav-logo">DANIEL <br>SHIFFMAN</a>
  <span class="line-charm"></span>
  <ul class="nav-links">
    <li><a href="/books/">BOOKS</a></li>
    <li><a href="/videos/">VIDEOS</a></li>
    <li><a href="/learning/">LEARNING</a></li>
    <span class="line-charm"></span>
    <li><a href="/about/">ABOUT</a></li>
    <li><a href="/blog/">BLOG</a></li>
    <span class="line-charm"></span>
    <li><a href="http://twitter.com/shiffman" target="_blank">TWITTER</a></li>
    <li><a href="http://github.com/shiffman" target="_blank">GITHUB</a></li>
    <li><a href="https://www.patreon.com/codingrainbow?ty=h" target="_blank">PATREON</a></li>
  </ul>
</nav>

<div class="logo">
    <span class="nav-btn"><img src="/images/nav-btn.svg"/></span>
    <!-- <div class="logo-set">
      <h2>DANIEL SHIFFMAN</h2>
      <span class="intro">Teacher of Code and Programming</span>
    </div> -->
</div>

<span class="mobile-quick-links">VIEW QUICK LINKS</span>
