<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="home">
  <div class="logo-set-home">
    <h2>DANIEL SHIFFMAN</h2>
    <span class="intro">Teacher of Code and Programming</span>
  </div>
  <span class="line-charm"></span>
  <ul class="nav-links">
    <li><a href="/books.html">BOOKS</a></li>
    <li><a href="/videos.html">VIDEOS</a></li>
    <li><a href="/learning.html">LEARNING</a></li>
    <span class="line-charm"></span>
    <li><a href="/about.html">ABOUT</a></li>
    <li><a href="/blog.html">BLOG</a></li>
    <span class="line-charm"></span>
    <li><a href="http://twitter.html">TWITTER</a></li>
    <li><a href="http://github.html">GITHUB</a></li>
  </ul>
</nav>

<div class="logo">
    <span class="nav-btn small-show"><img src="images/nav-btn.svg"/></span>
</div>

<span class="mobile-quick-links">BOOKS AND VIDEOS</span>