<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="home">
  <div class="logo-set-home">
    <h2>DANIEL SHIFFMAN</h2>
    <span class="intro">Learn Creative Code</span>
  </div>
  <span class="line-charm"></span>
  <ul class="nav-links">
    <li><a href="/books/">BOOKS</a></li>
    <li><a href="/videos/">VIDEOS</a></li>
    <li><a href="/learning/">LEARNING</a></li>
    <li><a href="/about/">ABOUT</a></li>
    <span class="line-charm"></span>
    <li><a href="http://twitter.com/shiffman">TWITTER</a></li>
    <li><a href="http://github.com/shiffman">GITHUB</a></li>
    <li><a href="https://www.patreon.com/codingrainbow?ty=h" target="_blank">PATREON</a></li>
  </ul>
</nav>

<div class="logo">
    <span class="nav-btn small-show"><img src="/images/nav-btn.svg"/></span>
</div>

<span class="mobile-quick-links">BOOKS AND VIDEOS</span>
