<ul>
  <li><a href="http://processing.org">The Processing Foundation</a></li>
  <li><a href="https://github.com/shiffman/Most-Pixels-Ever-Processing">Most Pixels Ever</a></li>
  <li><a href="https://github.com/shiffman/PBox2D">Box2D for Processing</a></li>
  <li><a href="http://shiffman.net/p5/kinect/">Open Kinect for Processing</a></li>
  <li><a href="https://github.com/shiffman/The-Nature-of-Code-Cosmos-Edition">The Nature of Code Cosmos Edition</a></li>
  <li><a href="https://github.com/shiffman/Faces">Face It Processing</a></li>
</ul>