<ul>
  <li><a href="https://github.com/shiffman/The-Nature-of-Code-Cosmos-Edition">The Nature of Code Cosmos Edition</a></li>
  <li><a href="https://github.com/shiffman/Faces">Face It</a></li>
  <li><a href="https://github.com/ITPNYU/ICM">Intro to Computational Media</a> (a href="https://vimeo.com/channels/introcompmedia/">video lessons</a>)</li>
  <li><a href="http://natureofcode.com">The Nature of Code</a> (a href="https://vimeo.com/channels/natureofcode/">video lessons</a>)</li>
  <li><a href="http://itp.nyu.edu/varwiki/BigScreens/BigScreens">Big Screens</a></li>
  <li><a href="/teaching/a2z">Programming A to Z</a></li>
</ul>
