// MEDIA QUERIES
@media screen and (max-width: 480px) {
  html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }

  #wrapper {
    width: 100%;
    padding: 0 1em;
  }

  .page-content {
    min-height: 0;
    margin: 1em 0 1.5em;
  }

  .blurb-pair {
    height: auto;
    clear: both;
    overflow-y: auto;
  }

  .blurb-text {
    position: relative;
    padding: 1em;
    margin: 0;
  }

  #bio .bio-image {
    float: right;
    width: 40%;
  }

  #bio p {
    width: 58%;
  }

  .blurb {
    margin-bottom: 0.5em;
  }

  .row [class*="col"] {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {

  #wrapper {
    width: 100%;
    padding: 0 1em;
  }

  #bio .bio-image {
    float: none;
    width: 98%;
  }

  #bio p {
    width: 100%;
  }


  header h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 0;
  }

  nav ul {
    font-size: 120%;
    text-align: center;
  }

  nav ul li {
    margin: 0 0.25em 0 0.25em;
  }

  .row [class*="col"] {
    float: none;
    width: 100%;
    margin-left: 0;
  }

}

@media screen and (max-width: 768px) {
  #wrapper {
    width: 100%;
    padding: 0 1em;
  }
}