//	SHIFFMAN.NET SCSS VARIABLES

$black: 			#212121;
$white: 			#ffffff;
$light-grey: 		#E9E9E9;
$grey: 				#7D7D7D;

$red: 				#B30041;
$yellow:			#FFDE00;
$blue:				#00CBFF;
$orange:			#ED462F;
$purple:			#C036F3;

$breakpoint-small: 	700px;
$breakpoint-medium: 1170px;
$breakpoint-large: 	1440px;