/*
style.org
public style sheet (gray) by Jonathan Corum
updated January 1, 2004

You are welcome to use this style sheet.
For additional colors, please see http://www.style.org/css/
*/


/* TAGS */

BODY {
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: Georgia, serif;
	font-size: 13px;
	height: 100%;
}

TABLE TD {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 11px;
}

P, BLOCKQUOTE {
	line-height: 160%;
}

UL, OL {
	line-height: 130%;
}

A {
	color: #336699;
	text-decoration: none;
}

A:hover {
	color: #993333;
	text-decoration: underline;
}

SUP {
	font-family: Verdana, sans-serif;
	font-size: smallest;
	line-height: 100%;
}


/* HEADER */

.shadow1 {
	background-color: #999999;
	border-bottom: 1px solid #BBBBBB;
	height:1px;
	font-size: 1px;
	width: 100%;
}

.shadow2 {
	background-color: #DDDDDD;
	height:1px;
	font-size: 1px;
	width: 100%;
}

.header {
	background: #555555;
	border-bottom: 1px solid #333333;
	padding: 3px 10px 3px 10px;
}

.framework {
	width: 100%;
}

.head {
	color: #FFFFFF;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
}


/* FOOTER */

.footer {
	background: #CCCCCC;
	color: #666666;
	border-top: 1px solid #333333;
	font-family: Verdana;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 7px;
	padding-left: 70px;
}

.footertext {
	color: #666666;
	font-family: Verdana;
	font-size: 12px;
}


/* CONTENT */

pre {  FONT-FAMILY: "Courier New", Courier, mono; FONT-SIZE: 11px; LINE-HEIGHT: normal; COLOR: #000000}

H1 {
	color: #111111;
	font-family: Trebuchet MS;
	font-size: 31px;
	font-weight: normal;
	margin-bottom: 0px;
}

H2 {
	color: #444444;
	font-family: Trebuchet MS;
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 0px;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #666666;
}

H3 {
	color: #000000;
	font-family: Trebuchet MS;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 30px;
	padding-bottom: 5px;
}

.breadcrumb {
	color: #999999;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	padding-top: 26px;
	padding-bottom: 0px;
	padding-left: 70px;
	padding-right: 50px;
}

.content {
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 100px;
}

.code {
	color: #333333;
	font-family: Verdana;
	font-size: 11px;
	font-style: italic;
}

.deck {
	color: #333333;
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	margin-top: 3px;
}

.byline {
	font-family: Verdana;
	font-size: 12px;
	margin-top: 16px;
}

.dateline {
	color: #666666;
	font-size: 12px;
	font-family: Verdana;
}

.footline {
	font-family: Verdana;
	font-style: italic;
	margin-top: 16px;
}

.subsection {
	color: #666666;
	font-family: Verdana;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.pullquote {
	background-color: #DDEEFF;
	color: #333333;
	border-top: 1px dotted #999999;
	border-bottom: 1px dotted #999999;
	font-family: Georgia;
	font-style: italic;
	font-size: 14px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 35%;
	float: right;
}

.smallcaps {
	font-variant: small-caps;
}


/* TABLES */

.caption {
	color: #666666;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 120%;
}

.captiontitle {
	color: #333333;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 120%;
}


/* RULES */

.rule {
	border-top: 1px dotted #666666;
	width: 100%;
	height: 1px;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 5px;
}

