---
layout: default
---

{% for post in paginator.posts %}
<div class="post">
  <h1><a href="{{post.permalink}}">{{post.title}}</a></h1>
  <h6>{{post.date | date: "%B %e, %Y"}}</h6>

  <div class="post-content">{{post.content}}</div>

  <div class="footer"><a href="{{post.permalink}}">Permalink</a></div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>