---
layout: default
---

<div class="posts">
{% for post in paginator.posts %}
<div class="post">
  <h1><a href="{{post.url}}">{{post.title}}</a></h1>
  <h6>{{post.date | date: "%B %e, %Y"}}</h6>

  <!--<div class="post-content">{{post.content}}</div>-->

  <!--<div class="footer"><a href="{{post.url}}">Permalink</a></div>-->
</div>
{% endfor %}
</div>

<div class="pagination row">
  <div class="col4 previous">
  {% if paginator.previous_page %}
    <a href="/blog/{{ paginator.previous_page }}">Previous</a>
  {% endif %}
  </div>
  <div class="col4">
    <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
  </div>
  <div class="col4 next">
  {% if paginator.next_page %}
    <a href="/blog/{{ paginator.next_page }}">Next</a>
  {% endif %}
  </div>
</div>