---
layout: default
---

<div class="posts">
{% for post in paginator.posts %}
<div class="post">
  <h1><a href="{{post.url}}">{{post.title}}</a></h1>
  <h6>{{post.date | date: "%B %e, %Y"}}</h6>

  <!--<div class="post-content">{{post.content}}</div>-->

  <!--<div class="footer"><a href="{{post.url}}">Permalink</a></div>-->
</div>
{% endfor %}
</div>

{% if paginator.previous_page || paginator.next_page %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/blog/{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endif %}