/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);
/* line 5, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/shiffman-core.scss */
* {
  box-sizing: border-box;
}

/* line 25, ../sass/shiffman-core.scss */
body, html {
  min-height: 100%;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  line-height: 1.45em;
  color: #212121;
}

/* line 35, ../sass/shiffman-core.scss */
.left-container {
  position: relative;
  width: 60%;
  padding: 130px 140px;
}
@media only screen and (max-width: 1170px) {
  /* line 35, ../sass/shiffman-core.scss */
  .left-container {
    padding: 130px 80px;
  }
}
@media only screen and (max-width: 700px) {
  /* line 35, ../sass/shiffman-core.scss */
  .left-container {
    padding: 100px 30px;
    width: 100%;
  }
}

/* line 55, ../sass/shiffman-core.scss */
.right-container {
  position: fixed;
  width: 40%;
  right: 0;
  top: 0;
  min-height: 600px;
  height: 100%;
}
@media only screen and (max-width: 700px) {
  /* line 55, ../sass/shiffman-core.scss */
  .right-container {
    width: 300px;
    right: -300px;
  }
}

/* line 75, ../sass/shiffman-core.scss */
nav {
  position: fixed;
  top: 0;
  left: -230px;
  width: 300px;
  min-height: 100%;
  z-index: 1;
  padding: 25px;
  transition: left 0.4s;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
}
/* line 92, ../sass/shiffman-core.scss */
nav .nav-logo {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #212121;
}
/* line 106, ../sass/shiffman-core.scss */
nav .nav-links li a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: #212121;
  transition: color 0.15s;
}
/* line 116, ../sass/shiffman-core.scss */
nav .nav-links li a:hover {
  color: #EE0058;
}
/* line 122, ../sass/shiffman-core.scss */
nav .nav-links li a:hover {
  color: #EE0058;
}
/* line 132, ../sass/shiffman-core.scss */
nav:hover {
  left: 0px;
}

/* line 140, ../sass/shiffman-core.scss */
.logo {
  position: absolute;
  left: 45px;
  top: 30px;
}
/* line 146, ../sass/shiffman-core.scss */
.logo .logo-set {
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
}
/* line 152, ../sass/shiffman-core.scss */
.logo h2 {
  font-family: 'Noto Serif', serif;
  font-size: 26px;
  letter-spacing: 1.72px;
  margin-bottom: 0;
  margin-top: 2px;
  font-weight: 700;
  display: inline-block;
}
/* line 162, ../sass/shiffman-core.scss */
.logo span.nav-btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  cursor: pointer;
}
/* line 169, ../sass/shiffman-core.scss */
.logo span.intro {
  display: block;
  font-size: 14px;
}

/* line 178, ../sass/shiffman-core.scss */
.line-charm {
  display: block;
  height: 5px;
  width: 48px;
  background: #E9E9E9;
  margin: 60px 0 16px 0;
}

/* line 190, ../sass/shiffman-core.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  line-height: 1.45em;
}

/* line 197, ../sass/shiffman-core.scss */
h1 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 28px;
}

/* line 205, ../sass/shiffman-core.scss */
h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

/* line 214, ../sass/shiffman-core.scss */
h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 35px;
}

/* line 222, ../sass/shiffman-core.scss */
h5 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

/* line 232, ../sass/shiffman-core.scss */
.body-link {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 3px 10px;
  margin: 2px 10px 2px 0px;
  border-left: 3px solid #E9E9E9;
  text-decoration: none;
}
/* line 243, ../sass/shiffman-core.scss */
.body-link.primary {
  color: #EE0058;
  border-left: 3px solid #EE0058;
}
/* line 250, ../sass/shiffman-core.scss */
.body-link.secondary {
  color: #7D7D7D;
  border-left: 3px solid #7D7D7D;
}

/* line 261, ../sass/shiffman-core.scss */
.section-link {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #EE0058;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}

/* line 276, ../sass/shiffman-core.scss */
.latest-videos .video-entry {
  overflow: auto;
  margin-bottom: 35px;
}
/* line 283, ../sass/shiffman-core.scss */
.latest-videos .thumbnail {
  border-radius: 3px;
}
/* line 287, ../sass/shiffman-core.scss */
.latest-videos .thumbnail img {
  width: 100%;
}
/* line 293, ../sass/shiffman-core.scss */
.latest-videos .col-left {
  width: 30%;
  float: left;
  padding: 0 7px;
}
/* line 301, ../sass/shiffman-core.scss */
.latest-videos .col-right {
  width: 70%;
  float: left;
  padding: 0 7px;
}
/* line 309, ../sass/shiffman-core.scss */
.latest-videos p {
  font-size: 14px;
  margin-bottom: 25px;
}

/* line 323, ../sass/shiffman-core.scss */
.resources .link p {
  display: none;
}

/* line 333, ../sass/shiffman-core.scss */
.right-container {
  background: #E9E9E9;
  overflow: scroll;
}
/* line 338, ../sass/shiffman-core.scss */
.right-container .feature {
  padding: 0 110px 0px 40px;
  min-height: 250px;
  height: 250px;
  position: relative;
}
@media only screen and (max-width: 1170px) {
  /* line 338, ../sass/shiffman-core.scss */
  .right-container .feature {
    padding: 0 30px 0px 30px;
  }
}
/* line 351, ../sass/shiffman-core.scss */
.right-container .feature .content, .right-container .feature .book {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 361, ../sass/shiffman-core.scss */
.right-container .feature .book {
  position: absolute;
  right: 0;
}

/* line 372, ../sass/shiffman-core.scss */
.feature p, .feature a {
  font-family: "Lato", sans-serif;
}
/* line 376, ../sass/shiffman-core.scss */
.feature h1 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.87px;
  font-weight: 900;
  color: #ffffff;
}
/* line 383, ../sass/shiffman-core.scss */
.feature a.primary {
  display: inline-block;
  padding: 7px 30px;
  border-radius: 45px;
  background: #ffffff;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.87px;
  color: #212121;
  text-decoration: none;
  margin-top: 25px;
}
/* line 396, ../sass/shiffman-core.scss */
.feature a.secondary {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.87px;
  text-decoration: none;
  display: block;
  color: #ffffff;
}
/* line 407, ../sass/shiffman-core.scss */
.feature.lp {
  background: #FFDE00;
  color: #212121;
}
/* line 412, ../sass/shiffman-core.scss */
.feature.lp a, .feature.lp p {
  color: #ED462F;
}
/* line 418, ../sass/shiffman-core.scss */
.feature.noc {
  background: #EE0058;
  color: #ffffff;
}
/* line 423, ../sass/shiffman-core.scss */
.feature.noc a.primary {
  color: #EE0058;
}
/* line 429, ../sass/shiffman-core.scss */
.feature.youtube {
  background: #00CBFF;
  color: #ffffff;
}
/* line 434, ../sass/shiffman-core.scss */
.feature.youtube a {
  color: #00CBFF;
}
/* line 440, ../sass/shiffman-core.scss */
.feature.livestream {
  background: #C036F3;
  color: #ffffff;
}
/* line 445, ../sass/shiffman-core.scss */
.feature.livestream a {
  color: #C036F3;
}

/* line 457, ../sass/shiffman-core.scss */
.right-container.books .feature {
  height: 50%;
  min-height: auto;
}

/* line 470, ../sass/shiffman-core.scss */
.article h1 {
  margin-bottom: 1em;
}
/* line 474, ../sass/shiffman-core.scss */
.article .line-charm.first {
  margin-top: 0px;
}

/* line 480, ../sass/shiffman-core.scss */
p {
  margin-bottom: 1.2em;
}

/* line 487, ../sass/shiffman-core.scss */
.right-container.quick-links {
  padding: 40px;
  background: #EE0058;
  width: 30%;
}
/* line 493, ../sass/shiffman-core.scss */
.right-container.quick-links.video {
  background: #00CBFF;
}
/* line 497, ../sass/shiffman-core.scss */
.right-container.quick-links .quick-link {
  margin-bottom: 15px;
}
/* line 501, ../sass/shiffman-core.scss */
.right-container.quick-links .quick-link a {
  font-family: "Lato", sans-serif;
  display: block;
  padding: 10px 15px;
  border-radius: 45px;
  background: #ffffff;
  font-size: 12px;
  font-weight: 600;
  color: #212121;
  text-decoration: none;
}

/* line 523, ../sass/shiffman-core.scss */
.video-playlist h3 {
  text-transform: uppercase;
}
/* line 527, ../sass/shiffman-core.scss */
.video-playlist p {
  font-size: 14px;
}

@media only screen and (max-width: 1170px) {
  /* line 537, ../sass/shiffman-core.scss */
  .medium-hide {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  /* line 547, ../sass/shiffman-core.scss */
  .small-hide {
    display: none;
  }
}
