---
layout: default
---

<link rel="stylesheet" type="text/css" href="/css/prism.css">
<link rel="stylesheet" type="text/css" href="/css/highlight.css">
<link rel="stylesheet" type="text/css" href="/css/a2z.css">
<script src="/js/blog.js"></script>
<script src="/js/prism.js"></script>

<section class="left-container out a2z">
  <h1>Programming from A to Z</h1>
  <p><br/>

    <a href="/a2z/" class="body-link primary">about</a> 
    <a href="https://github.com/shiffman/A2Z-F16/blob/gh-pages/README.md" class="body-link primary">syllabus</a>
    <a href="https://github.com/shiffman/A2Z-F16" class="body-link primary">All example source code</a>

  </p>
  <span class="line-charm first"></span>
  <div class="content-wrapper article a2z">
    {{ content }}
  </div>
</section>
<button class="mobile-quick-links" aria-controls="quicklinks-section" aria-haspopup="true" id="quicklinks-btn">VIEW QUICK LINKS</button>
<aside class="right-container quick-links out" id="quicklinks-section">
  <div class="quick-link">
    <a href="/a2z/" class="secondary">About the course</a>
  </div>
  <h3>Tutorials</h3>
  <div class="quick-link">
    <a href="/a2z/intro" class="secondary">Introduction - p5.js, JavaScript, and Strings</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/regex" class="secondary">Regular Expressions</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/closures" class="secondary">Closures</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/data-apis" class="secondary">Libraries, Data, and APIs</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/server-node" class="secondary">Server-side programming with node.js</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/twitter-bots" class="secondary">Twitter API and bots with node.js</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/bot-ec2" class="secondary">Deploy Bot to Amazon EC2</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/bot-heroku" class="secondary">Deploy Bot to Heroku</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/text-analysis" class="secondary">Text Analysis</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/markov" class="secondary">N-Grams and Markov Chains</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/cfg" class="secondary">Context-Free Grammar</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/node-api" class="secondary">Creating an API in Node</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/firebase" class="secondary">Database as Service: Firebase</a>
  </div>
  <div class="quick-link">
    <a href="/a2z/chrome-ext" class="secondary">Chrome Extensions</a>
  </div>
</aside>
