<html>
<head>
  <link rel="stylesheet" href="/css/shiffman.css">
</head>
<body>
  <div id="wrapper">
    <header>
      <h1><a href="/">daniel shiffman</a></h1>
    </header>

    {% include navigation.html %}

    {{content}}

    {% include books.html %}

    <footer>
      Daniel Shiffman
      </br>
      <a href="http://twitter.com/shiffman" target="_blank">@shiffman</a> &bull; <a href="http://github.com/shiffman" target="_blank">Github</a> &bull; daniel at shiffman dot net
    </footer>
  </div>
</body>
</html