<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/shiffman.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic|Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrapper" class="front-page">
    <header>
      <h1><a href="/">daniel shiffman</a></h1>
    </header>

    {% include navigation.html %}

    {% include books.html %}

    <div id="front-content">
    {{content}}
    </div>

  </div>
</body>
</html